{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "globals": {
    "__TRANSMISSION_HOST__": "readonly",
    "__TRANSMISSION_PORT__": "readonly",
    "__TRANSMISSION_USERNAME__": "readonly",
    "__TRANSMISSION_PATH__": "readonly",
    "__TRANSMISSION_PASSWORD__": "readonly",
    "__TRANSMISSION_SSL__": "readonly",
    "__ENV__": "readonly"
  },
  "plugins": [],
  "extends": ["plugin:svelte/recommended"],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "parser": "svelte-eslint-parser"
    }
  ],
  "rules": {
    "svelte/valid-compile": [
      "error",
      {
        "ignoreWarnings": true
      }
    ]
  }
}
