name: Lint

# Run this workflow every time a new commit pushed to your repository
on:
  push:
    branches-ignore: [master]
  pull_request:
    branches: [master]

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  format:
    # Name the Job
    name: prettier
    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install modules
        run: npm install

      - name: Prettify code
        uses: creyD/prettier_action@v3.1
        with:
          prettier_options: --write ./src/**/*.{js,svelte}
          same_commit: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run ESLint
        run: npm run lint
